[submodule "react-native-grid-easy"]
	path = react-native-grid-easy
	url = git@github.com:tranvantai0011/react-native-grid-easy.git
[submodule "welcome_back"]
	path = welcome_back
	url = git@github.com:tranvantai0011/welcome_back.git
[submodule "firebaseApp"]
	path = firebaseApp
	url = https://github.com/tranvantai0011/firebaseApp.git
[submodule "b5ReactClass"]
	path = b5ReactClass
	url = https://github.com/tranvantai0011/b5ReactClass.git
[submodule "b6ControlListView"]
	path = b6ControlListView
	url = https://github.com/tranvantai0011/b6ControlListView.git
[submodule "b7navigation"]
	path = b7navigation
	url = https://github.com/tranvantai0011/b7navigation.git
